.add-node-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  height: 5rem;
  width: 50%;
  border-radius: 5px;
  color: blue;
}

.add-node-box:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.edit-node-box-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  all: unset;
  position: absolute;
  left: 0;
  display: grid;
  place-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: auto;
}

.back-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.input-message {
  width: 100%;
  padding: 0.25em;
  margin-top: 5px;
}
