.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  transition: opacity 0.5s, bottom 0.5s;
  opacity: 0;
}

.toast.show {
  display: block;
  opacity: 1;
  top: 40px;
}

.toast.error {
  background-color: red;
}

.toast-message {
  margin-right: 10px;
}

.toast-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
